body {
  background-image: url("pink-purple-weather.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.App {
  max-width: 650px;
  margin: 30px auto;
}
.App footer {
  font-size: 12px;
  margin: 10px 0;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.App ul {
  list-style: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  border: 2px solid #f3e7c2;
  border-radius: 6px;
  font-family: sans-serif;
  padding: 10px;
  background-color: plum;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
